abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:0 0}article,aside,details,figure,footer,header,nav,section,summary{display:block}embed,img,object{max-width:100%}html{overflow-y:scroll}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}th{font-weight:700;vertical-align:bottom}td{font-weight:400}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type=radio]{vertical-align:text-bottom}input[type=checkbox]{vertical-align:bottom}.ie7 input[type=checkbox]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}input,select,textarea{font:99% sans-serif}table{font:100%}small{font-size:85%}strong{font-weight:700}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}code,kbd,pre,samp{font-family:monospace,sans-serif}.clickable,button,input[type=button],input[type=file],input[type=submit],label{cursor:pointer}button,input,select,textarea{margin:0}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.ie6 html{filter:expression(document.execCommand("BackgroundImageCache", false, true))}.clearfix:after,.clearfix:before{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe {position: absolute; top: 0;}
a {text-decoration:none; color:rgb(35, 35, 35);}
a:hover {text-decoration:none; color:rgb(30,148,175);}
/* style */
html{background:white;}
body{max-width:1200px;overflow:hidden; font-family: 'Open Sans', sans-serif;margin:0 auto;}
.wrapper{overflow:hidden; background:white;}
.row{clear:both; overflow:hidden; margin:2% 0;}
.col {float:left; min-height:50px; position:relative;width:40%;overflow:hidden;}
.article {float:left; min-height:500px; position:relative;width:60%;overflow:hidden; background:rgb(235,235,235);padding-bottom:10%;}
.article p{margin: 5% auto; font-size:22px; position:relative;line-height:30px;}
.article h1{font-size:2em; margin-bottom:7%;}
.article h2{font-size:1.5em; margin:7% 0 3% 0;}
.article pre{width:80%; margin: 5% auto; display:block;padding:5%; background:rgb(250,250,250);}
.top, .content{width:90%; margin: 5% auto 2% auto; clear:both; overflow:hidden;}
.content a{text-decoration:underline;}
.content ul{margin-left:15%; font-size:18px; line-height:34px;}
.side{float:left; min-height:200px; position:relative;width:20%;overflow:hidden;}
img{width:100%;}
img.headshot{width:40%;}

header{width:20%; position:relative;float:left; background:pink;}
.module{width:100%; height:0; padding-bottom:100%; float:left; position:relative;}
.half {width:50%; padding-bottom:50%;}
.hello{background:rgb(30,148,175);background:rgba(30,148,175,1.0);}
.pink{background:pink;}

.corner{background: white url("../../img/corner-light.png") no-repeat;}
.corner-top{background: white url("../../img/corner-light2.png") no-repeat;}
.corner-right{background: url("../../img/corner-right.png") no-repeat top right;}

.logo{width:100%;height:0; padding-bottom:100%; background:rgb(45,45,45); float:left; clear:both;}
.logo h1{vertical-align:middle; text-align:center; font-size:48px; margin-top:36%;}
.logo a{color:white;}

.hello p{width:90%; margin: 5% auto; color:rgba(255,255,255,0.9); font-size:2em;}
.hello p span{display:block;}
.hello p:nth-of-type(2){font-size:1.2em;}

.overlay:after {
    content:'\f138';
	color:rgba(255,255,255,0.8);
    position:absolute;
    width:100%; height:58%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 48px;
	padding-top:42%;
	text-align:center;
}
.overlay:hover:after {
    opacity:1;
}
/* touch modification - icons should be visible on tablets and mobile to indicate the images are links to articles*/
.touch .overlay:after {
    content:'\f08e';
	color:rgba(255,255,255,0.8);
    position:absolute;
    width:100%; height:58%;
    top:25px; left:-20px;
    background:rgba(0,0,0,0);
    opacity:1;
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 32px;
	padding-top:0;
	text-align:right;
}
.touch .overlay.pink:after {
    content:'\f08e';
	color:pink;
    position:absolute;
    width:100%; height:58%;
    top:25px; left:-20px;
    background:rgba(0,0,0,0);
    opacity:1;
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 32px;
	padding-top:0;
	text-align:right;
}
.touch .overlay:hover:after {
    opacity:1;
}

.top  li.webdev1{width:50%; float:left; margin-left:0%; display:inline; line-height:24px;}
.top  li{width:50%; float:right; margin:4% 0 0 0; display:inline; line-height:24px;}
.top li a{background:rgb(30,30,30); padding:5%; color:rgb(250,250,250);border-radius:.6em; float:right;transition:all 0.2s ease;}
.top li a:hover, .top li a:active{background:rgb(30,148,175);}
header ul{width:60%;margin:18% auto 0;}
header li{margin:0 0 2% 0; font-size:20px;}
header li:last-child{margin:0;}
header li a{color:rgb(35, 35, 35);}
header li a:hover{color:rgb(30,148,175);}

.twitter-timeline{width:100%; color:rgb(25,25,25); overflow:hidden; min-height:1000px;}

/* Media queries */
@media screen and (max-width: 1000px) {
.hello p{font-size:1.8em;}
.hello p:nth-of-type(2){font-size:1.2em;}
header ul{width:55%;margin:20% auto 0;}
header li{margin:0 0 2% 0; font-size:16px;}
}

@media screen and (max-width: 860px) {
.hello p{font-size:1.5em;}
.hello p:nth-of-type(2){font-size:1.1em;}
}

@media screen and (max-width: 780px) {
header{max-width:100%; width:100%; clear:both; max-height:80px; height:80px; background:rgb(250,250,250);}
.col{width:50%;}
.article{width:80%;}
.side{width:20%}
.logo{width:25%; max-width:100px; height:100%;line-height:80px;padding:0;margin:0; float:left;clear:none;}
.logo h1{vertical-align:middle; text-align:center; font-size:28px; margin:0;}
.corner{display:none;}
.social{max-width:70%; height:80px; padding:0;float:right;margin-right:5%;position:relative;}
.module p{font-size:1.8em;}
.module p:nth-of-type(2){font-size:1.2em;}
header ul{position:absolute;height:80px;margin:0;width:100%;text-align:right;}
header li{display:inline;margin:0 2% 0 0;line-height:80px; font-size:35px;}
header li span{display:none;}
header li a{color:rgb(95, 95, 95);}
header li a:hover{color:rgb(30,148,175);}
}

@media screen and (max-width: 700px) {
header{max-width:100%; width:100%; clear:both; max-height:80px; height:80px;}
.logo{width:25%; max-width:100px; height:100%;line-height:80px;padding:0;}
.logo h1{vertical-align:middle; text-align:center; font-size:28px; margin:0;}
.hello p{font-size:1.4em;}
.hello p:nth-of-type(2){font-size:1.1em;}
}

@media screen and (max-width: 581px) {
header{max-width:100%; width:100%; clear:both; max-height:80px;}
.social{width:60%;}
.logo{width:25%; max-width:100px; height:100%;line-height:80px;padding:0;}
.logo h1{vertical-align:middle; text-align:center; font-size:28px; margin:0;}
.hello p{font-size:1.2em;}
.hello p:nth-of-type(2){font-size:1em;}
header li {font-size:32px;}
}

@media screen and (max-width: 500px) {
header{background:pink;}
.col{width:100%; clear:both; min-height:10px;}
.article{width:100%; clear:both; min-height:500px;}
.side{width:100%; clear:both;}
.side .module{width:50%;padding-bottom:50%;}
.social{width:60%;}
.hello p{font-size:1.5em;}
.hello p:nth-of-type(2){font-size:1.2em;}
.article{width:100%; font-size:14px;}
}

@media screen and (max-width: 350px) {
.hello p{font-size:1.3em;}
.hello p:nth-of-type(2){font-size:1.1em;}
}
